
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 95%;
  position: fixed;
  top: 0;
  background-color: aliceblue;
  padding: 5px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
@media screen and (max-width:425px){
 .nav2{
  display: none;
 }
 .inside span{
  display: none;

 }
  
}

.nav1 a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.nav1 h1 {
  font-weight: bold;
  font-size: 30px; 
}

.nav2 a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-left: 30px;
  padding-left: 0px;

}


.hero-section {
  margin-top: 60px;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.inside h1 {
  font-size: 40px;
  background-color: rgb(22, 19, 19);
  color: aliceblue;
  padding: 10px 20px;
  letter-spacing: 2px;
  
}

.inside span{
  color: aliceblue;
  font-size: 45px;
  padding-top: 45px;
  letter-spacing: 2px;
      
}
.projects-container {
  padding: 60px 50px;
  margin-top: -20px;
}
@media screen and (max-width: 320px){
.project-grid{
  justify-content: center;
  display: flex;
  }  
}
@media screen and (min-width: 1024px){

 

}


.projects-container h2 {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 0px;
}

.projects-container hr {
  width: 50px;
  height: 4px;
  background-color: black;
  border: none;
  margin: 20px auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.project-card {
  position: relative;
}

.project-card img {
  width: 100%;
  display: block;
}

.project-card h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0;
}
.about {
    padding: 40px;
    margin-top: -50px;
}
.about h1 {
  font-size: 30px;
}
.img {
  width: 100%;
  display: block;
}
.image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.img button {
    padding-left: 40%;
    padding-right: 40%;
}
.contact h1 {
    font-size: 30px;
}
.contact {
    padding: 40px;
    margin-top: -50px;
}
.form input {
    width: 100%;

    padding: 10px;
}
.form button {
    color: white;
    background-color: black;
    height: 40px;
}
.form img{
    width: 100%;
    padding-top: 20px;
}
.footer{
    padding-left: 40px;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 50px;
    margin-top: -50px;
    padding-top: 10px;
}
.footer a {
    color: rgb(143, 166, 185);
}

